$index-1: 100;
$index-2: 200;
$index-3: 300;
$index-4: 400;
$index-5: 500;
$index-6: 600;
$index-7: 700;
$index-8: 800;
$index-9: 900;
$index-10: 1000;

$type-size-small: 16px;
$type-size-normal: 18px;
$type-size-medium: 24px;
$type-size-big: 32px;
$type-size-large: 48px;
$type-size-xlarge: 64px;

$type-stack-serif: 'Damion', Times, Serif;
$type-stack-sans-serif: 'Lato', Arial, sans-serif;

$color-green: #95C564;
$color-black: #000;
$color-text-black: #333;
$color-grey: #DDD;
$color-white: #FFF;
$color-mint: #50E3C2;
$color-blue: #55ACEE;

html{
	font-family: $type-stack-sans-serif;
	//font-family: $type-stack-merriweather;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}
*{
	margin: 0;
	padding: 0;
}