.landing--header{
	h1,
	h2,
	h3,
	h4,
	p{
		color: $color-white;
	}
	p{
		font-size: 24px;
		line-height: 42px;
	}
}
.landing--header--hero-image{
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/img--beigels-001.jpg") center/cover no-repeat;
}
.flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
.flex--center{
	align-items: center;
	justify-content: center;
	text-align: center;
	h1{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}
.flex--container{
	z-index: $index-1;
	flex: 1 1 600px;
}
.flex--container--header{
	flex: 0 1 660px;
}
.container--borders{
	z-index: $index-1;
	padding: 20px;
	background: $color-white;
	position: relative;
	text-align: left;
}
.sub--container{
	flex: 0 1 600px;
	box-shadow: 0 1px 10px rgba($color-black,0.2);
}
.container--image{
	background: $color-black;
	img{
		width: 100%;
		height: auto;
	}
}
.container--border--top,
.container--border--left,
.container--border--right,
.container--border--bottom{
	display: none;
}
.background--container{
	z-index: 0;
	position: absolute;
	width: 100%;
	flex: 0 0;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 10%;
	background: $color-white;
}

@media screen and (min-width: 600px){
	.container--borders{
		padding: 120px;
	}
	.container--border--top,
	.container--border--left,
	.container--border--right,
	.container--border--bottom{
		position: absolute;
		display: block;
	}
	.container--border--top{
		top: 60px;
		left: 30px;
		right: 30px;
		border-top: 1px solid $color-grey;
	}
	.container--border--bottom{
		left: 30px;
		right: 30px;
		bottom: 60px;
		border-bottom: 1px solid $color-grey;
	}
	.container--border--left{
		top: 30px;
		left: 60px;
		bottom: 30px;
		border-left: 1px solid $color-grey;
	}
	.container--border--right{
		top: 30px;
		right: 60px;
		bottom: 30px;
		border-right: 1px solid $color-grey;
	}
}