---
layout: default
---

<div class="parallax landing--header">
	<div id="group-1" class="parallax--group">
		
		<div role="heading" class="parallax--layer parallax--layer--base flex flex--center">
			<div class="flex--container">
				<h1>Open scource Beigels</h1>
				<p>
					Learn what it takes to make a beigel while helping us develop an ever grown list of open source beigel recipes.
				</p>
			</div>
		</div>

		<div class="parallax--layer parallax--layer--back landing--header--hero-image">
		</div>
		
	</div>

	<div id="group-2" class="parallax--group parallax--group--solid">
		
		<div role="heading" class="parallax--layer parallax--layer--base">
			
		</div>
		
	</div>
</div>
